<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<title>Cardless</title>
	<link rel="stylesheet" href="static/css/fancySelect.css" />
	<link rel="stylesheet" href="static/css/uniform.css" />
	<link rel="stylesheet" href="static/css/jquery.bxslider.css" />
	<link href="static/css/jquery-ui-1.10.4.custom.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/all.css" />
	<link media="screen" rel="stylesheet" type="text/css" href="static/css/screen.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper">
		<div class="wrapper-holder">
			<div class="header-holder">
				<header id="header">
					<span class="logo"><a href="index">Cardless</a></span>
					<a id="bank" href="account"><img class="bank-icon" src="/static/images/icon.png"></i></a>
					<div class="clear"></div>
				</header>
			</div>

			<section class="main">
				<div class="content">
					<section class="bar">
						<div class="bar-frame">
							<ul class="breadcrumbs">
								<li><a href="index">Centrum kuponów</a></li>
								<li>Twoje konta</li>
							</ul>
						</div>
					</section>
					<a id="login" class="buttona">Dodaj bank</a>
				</div>
			</section>
		</div>
	</div>

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="static/js/jquery.auth.js"></script>
	<script type="text/javascript" src="static/js/jcarousellite.js"></script>
	<script type="text/javascript" src="static/js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="static/js/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="static/js/fancySelect.js"></script>
	<script type="text/javascript" src="static/js/jquery.bxslider.js"></script>
	<script src="static/js/jquery-ui-1.10.4.custom.js"></script>
	<script type="text/javascript" src="static/js/main.js"></script>
	<script type="text/javascript" src="static/js/account.js"></script>
	<script type="text/javascript" src="static/js/fancySelect.js"></script>
</body>
</html>
