<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<title>Cardless</title>
	<link rel="stylesheet" href="static/css/fancySelect.css" />
	<link rel="stylesheet" href="static/css/uniform.css" />
	<link rel="stylesheet" href="static/css/jquery.bxslider.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="static/css/jquery-ui-1.10.4.custom.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/all.css" />
	<link media="screen" rel="stylesheet" type="text/css" href="static/css/screen.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<div id="wrapper">
		<div class="wrapper-holder">
			<div class="header-holder">
				<header id="header">
					<span class="logo"><a href="index">Cardless</a></span>
						<a href="account"><img src="static/images/icon.png"></i></a>

					<div class="clear"></div>
				</header>
			</div>
			<section class="main">
				<div class="content">
					<div class="row">
						<div class="col-md-8">
							<a href="products/premium"><img src="static/images/najlepsze.jpg" class="img-fluid" alt=""></a>
						</div>
						<div class="col-md-4 mb-5">
							<ul class="">
								<li><a href="products/shops"><img src="static/images/sklepy.jpg" class="mt-4 mt-md-0 img-fluid"
											alt=""></a></li>
								<li><a href="products/all"><img src="static/images/wszystkie.jpg" class="mt-4 md-mt-4 img-fluid"
											alt=""></a></li>
							</ul>
						</div>
					</div>
				</div>

		</div>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Nowa płatność!</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Zapłaciłeś u Damina. Czy chcesz otrzymywać od niego kupony?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Tak</button>
						<button type="button" class="btn btn-primary">Nie</button>
					</div>
				</div>
			</div>
		</div>

		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/js/jcarousellite.js"></script>
		<script type="text/javascript" src="/static/js/jquery.placeholder.js"></script>
		<script type="text/javascript" src="/static/js/jquery.uniform.min.js"></script>
		<script type="text/javascript" src="/static/js/fancySelect.js"></script>
		<script type="text/javascript" src="/static/js/jquery.bxslider.js"></script>
		<script src="/static/js/jquery-ui-1.10.4.custom.js"></script>
		<script type="text/javascript" src="/static/js/main.js"></script>
		<script type="text/javascript" src="/static/js/jquery.auth.js"></script>


</body>

</html>