<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<title>Cardless</title>
	<link rel="stylesheet" href="/static/css/fancySelect.css" />
	<link rel="stylesheet" href="/static/css/uniform.css" />
	<link rel="stylesheet" href="/static/css/jquery.bxslider.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="/static/css/jquery-ui-1.10.4.custom.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/all.css" />
	<link media="screen" rel="stylesheet" type="text/css" href="/static/css/screen.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<div id="wrapper">
		<div class="wrapper-holder">
			<div class="header-holder">
				<header id="header">
					<span class="logo"><a href="/index">Cardless</a></span>
					<a href="/account"><img src="/static/images/icon.png"></i></a>
					<div class="clear"></div>
				</header>
			</div>

			<section class="main">
				<div class="content">
					<section class="bar">
						<div class="bar-frame">
							<ul class="breadcrumbs">
								<li><a href="/index">Home</a></li>
								<li>Product results</li>
							</ul>
						</div>
					</section>
					<div class="top-bar">
					</div>
					<ul class="item-product">
					</ul>
				</div>
			</section>
		</div>
	</div>

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jcarousellite.js"></script>
	<script type="text/javascript" src="/static/js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="/static/js/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="/static/js/fancySelect.js"></script>
	<script type="text/javascript" src="/static/js/jquery.bxslider.js"></script>
	<script src="/static/js/jquery-ui-1.10.4.custom.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>

	<script>
		//type = getQueryVariable("type")

		fc = "{{ fc }}";
/*
		if (type == "shops") {
			fc = "get_all_cuopns";
		} else if (type == "premium") {
			fc = "get_premium_coupons";
		} else if (type == "all") {
			fc = "get_global_coupons"
		}
*/
		$.get("http://23.97.142.158/" + fc,
			{ "user_id": "user1" },
			function (cupons) {
				elements = JSON.parse(cupons)
				for (i in elements) {
					element = elements[i]
					valid = element["validate"]
					url = element["url"]
					id = element["id"]

					entry = `<li>
						<div class="item">
							<div class="image">
								<a href="/product/` + id + `"><img src="`+ url +`" alt="" /></a>
							</div>
							<span>` + valid + `</span>
						</div>
					</li>`

					$(".item-product").append(entry)
				};
			}
		)
	</script>
</body>

</html>